
.bttn {
  background-color: dodgerblue;
  box-shadow: 2px;
  border-radius: 5px;
}

span {
  color: red;
  font-weight: bold;
  padding: 3px;
}

.main div {
  display: grid;
  grid-template: 50% 50% / 50% 50%;
  width: 700px;
  padding: 5px 5px;
  display: block;

}

div {
  display: grid;

}

#App {
  background-color: black;
}

